* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #420542;
}

.todos {
    margin-top: 10%;
    margin-left: 5%;
}

.todo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.todotype {
    background-color: #D3C6D2;
    max-width: 20%;
    margin-left: 2%;
    padding: 25px;
}

.todo {
    background-color: #BBB4BB;
    padding: 5px;
}

.todo *{
    margin-left: 10px;
}
